@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  font-family: 'Roboto', sans-serif;
}

nav {
  transition: transform 0.3s ease-in-out;
}

.no-scroll-x {
  overflow-x: hidden;
}

@font-face {
  font-family: "Kabut";
  src: url(./assets/fonts/KabutHitam.ttf);
}

.redbook-bg-image {
  background-image: url('./assets/home/recomendaciones/BgRed.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.yellowbook-bg-image {
  background-image: url('./assets/BgYellow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pinkbook-bg-image {
  background-image: url('./assets/BgPink.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@layer components {
  /* .btn{
    @apply h-8 rounded-lg p-3 text-black transition bg-transparent hover:scale-110 hover:bg-sky-500 duration-300;
  } */
}

/* @media (prefers-color-scheme: dark) {
  body {
    background: #282c34;
    color: #fff
  }
} */